.hero__images--left {
	animation-name: translateY200vh;
	animation-direction: alternate;
	animation-timeline: --mainTimeline;
}
.hero__images--right {
	animation-name: translateY-200vh;
	animation-direction: alternate;
	animation-timeline: --mainTimeline;
}

@keyframes translateY-50 {
	to {
		transform: translateY(-50px);
	}
}

@keyframes translateY50 {
	to {
		transform: translateY(50px);
	}
}

@keyframes translateY-100 {
	to {
		transform: translateY(-100px);
	}
}

@keyframes translateY100 {
	to {
		transform: translateY(100px);
	}
}

@keyframes translateY-150 {
	to {
		transform: translateY(-150px);
	}
}

@keyframes translateY150 {
	to {
		transform: translateY(150px);
	}
}

@keyframes translateY-200 {
	to {
		transform: translateY(-200px);
	}
}

@keyframes translateY200 {
	to {
		transform: translateY(200px);
	}
}
@keyframes translateY-100vh {
	to {
		transform: translateY(-100vh);
	}
}

@keyframes translateY100vh {
	to {
		transform: translateY(100vh);
	}
}
@keyframes translateY-200vh {
	to {
		transform: translateY(-200vh);
	}
}

@keyframes translateY200vh {
	to {
		transform: translateY(200vh);
	}
}

@keyframes rotate360 {
	to {
		transform: rotate(360deg);
	}
}
